@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <a asp-controller="Home" asp-action="Download">Download files</a>
    <a asp-controller="Home" asp-action="fetch">Fetch data</a>
</div>